@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


* {
    transition: all 0.3s ease-out;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #262626;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    padding-bottom: 6px;
    background: -webkit-linear-gradient(rgb(255, 208, 0), rgb(255, 179, 0), rgb(225, 0, 255), rgb(85, 0, 255), rgba(224, 224, 224, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

p.small {
    font-size: 14px;
}

#card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 20rem;
    min-height: 14rem;
    background: -webkit-linear-gradient(rgba(230, 0, 255, 0.034), rgba(230, 0, 255, 0.184));
    border-radius: 4px;
    padding: 15px 20px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}

#card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 3px 6px 10px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background: -webkit-linear-gradient(rgba(255, 208, 0, 0.183), rgb(255, 179, 0));
}

.secondclass{
    height: 100vh;
    background-image: radial-gradient(closest-side at 20% 55%,#ededed, #aaaaaa);
}