.bodydiv{
    
    height: 100vh;
    background-image: linear-gradient(to bottom left, #fff3e7, #6fe6df) !important;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
}

.bodydiv section{
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    display: none;
}